body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/*----------------*/

/*titulo principal*/
.mi-app h1 {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  font-size: 80px;
  background-color: rgb(123, 123, 167);
  border-radius: 10px;
  height: 100px;
}

/*----------------*/

/* Estilos navbar */
.navbar-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* separa logo y menú */
  align-items: center; /* centra verticalmente */
  background-color: rgb(211, 211, 214);
  height: 40px;
  border-radius: 10px;
}

nav ul {
  display: flex;
  gap: 1.5rem; /* separación entre elementos */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos imagen navbar */
.navbar-logo img {
  height: 100px; /* Ajusta este valor a tu gusto */
  width: auto; /* Mantiene proporción */
  object-fit: contain;
  border-radius: 10px;
}

/*----------------*/

/* Estilos footer */
footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #eaeaea;
  color: #444;
  font-size: 25px;
  margin-top: auto;
}

/*----------------*/

/*pagina home*/

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px); /* ajusta según la altura real del navbar */
  background-color: #f9f9f9;
}

/* Contenedor del logo */
.logo-container {
  position: relative; /* permite superponer elementos */
  display: inline-block;
}

/* Imagen del logo */
.logo-home {
  width: auto; /* ajusta según el diseño del logo */
  height: auto;
}

/* Año dentro del logotipo */
.year-inside-logo {
  position: absolute;
  bottom: 10px; /* ajusta según el diseño del logo */
  left: 50%;
  transform: translateX(-50%); /* centra horizontalmente */
  font-size: 50px;
  font-weight: bold;
  color: #333; /* cambia si necesitas contraste */
  pointer-events: none; /* evita clics sobre el texto */
}

/*----------------*/

/* Página del calendario */
.calendar-page {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* Contenedor del calendario */
.calendar {
  max-width: 600px;
  width: 90%;
  text-align: center;
}

/* Cabecera */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header h2 {
  margin: 0;
  font-size: 24px;
}

.calendar-header button {
  background-color: #ddd;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

/* Grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.weekday {
  font-weight: bold;
  padding: 10px 0;
  background-color: #f0f0f0;
  border-radius: 6px;
}

.day, .empty {
  padding: 15px 0;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.day:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

