body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/*titulo principal*/
.mi-app h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 80px;
    background-color: rgb(123, 123, 167);
    border-radius: 10px;
    height: 100px;
}

/* Estilos navbar */
.navbar-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* separa logo y menú */
    align-items: center; /* centra verticalmente */
    background-color: rgb(211, 211, 214);
    height: 40px;
}

nav ul {
  display: flex;
  gap: 1.5rem; /* separación entre elementos */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos imagen navbar */
.navbar-logo img {
    height: 100px; /* Ajusta este valor a tu gusto */
    width: auto; /* Mantiene proporción */
    object-fit: contain;
}   

/* Estilos footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  background: #ffffff;
  border-top: 1px solid #d9e2ec;
  border-bottom: 1px solid #d9e2ec;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 10;
}
